{% extends "TechApp/base.html" %}
{% load static %}
<!-- entrada de datos  -->
{% block content %}

<div class="banner">
    <!-- start slider -->
    <div id="fwslider">
        <div class="slider_container">
            <div class="slide">
                <!-- Slide image -->
                <img src="{% static 'TechApp/images/banner.jpg' %}" class="img-responsive" alt="" />
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">TECHNOLOGY<br>LIMA<br>----------------------</h1>
                        <!-- /Text title -->
                        <!-- <div class="button"><a href="#">Seguridad y garantia :D</a></div> -->
                    </div>
                </div>
                <!-- /Texts container -->
            </div>

            <div class="slide">
                <img src="{% static 'TechApp/images/banner2.jpg' %}" class="img-responsive" alt="" />
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">TECHNOLOGY<br>LIMA<br>----------------------</h1>
                        <!-- <div class="button"><a href="#">Seguridad y garantia :D</a></div> -->
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'TechApp/images/banner4.jpg' %}" class="img-responsive" alt="" />
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">TECHNOLOGY<br>LIMA<br>----------------------</h1>
                        <!-- <div class="button"><a href="#">Seguridad y garantia :D</a></div> -->
                    </div>
                </div>
            </div>
            <div class="slide">
                <img src="{% static 'TechApp/images/banner4.gif' %}" class="img-responsive" alt="" />
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">TECHNOLOGY<br>LIMA<br>----------------------</h1>
                        <!-- <div class="button"><a href="#">Seguridad y garantia :D</a></div> -->
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>
    <!--/slider -->
</div>
<!-- fotos trasaccion -->
<div class="container">
    <div class="main">
        <div class="content-top">
            <h2>GARANTIA - SEGURIDAD - CONFIANZA</h2>
            <center>
                <img style="width: 30%;" src="{% static 'TechApp/images/op5.png' %}" alt="">
            </center>

            <h3>Envios a nivel nacional 🇵🇪</h3>

            <!-- <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo3").flexisel({
                    visibleItems: 5,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
         -->
        </div>
    </div>
    <!-- termino foto transaccion -->

    <div class="content-bottom">
        <div class="row content_bottom-text">
            <div class="col-md-7">
                <h3>Lorem ipsum<br> dolor sit amet</h3>
                <p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.
                </p>
                <p class="m_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                    consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                    consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}